<nav class="col-md-2 d-none d-md-block bg-light sidebar">
 <div class="sidebar-sticky">
   <ul class="nav flex-column">
     <li class="nav-item">
       <a class="nav-link " href="/data/get_data">
         <span data-feather="disc"></span>
         Consultar Data
       </a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/data/admin_tablas">
         <span data-feather="database"></span>
         Tablas Admin
       </a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/data/sync">
         <span data-feather="clock"></span>
      Synchronization DB
       </a>
     </li>
   </ul>
 </div>
</nav>
