<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery-slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>

    <title>Sincronizar | RaspXbeeRy</title>
  </head>

  <body>
    {% include "navigationbar.html" %}
</br>
</br>
</br>
    <div class="container-fluid">
      <div class="row">
          {% include "Data/sidebar_data.html" %}
        <main class="col-md-10 offset-md-2 pt-3">
           <h3  class="border-top">Synchronization DB</h3>
          <form >
              <div class="row">

                <div class="form-group col-md-5">
                  <label for="inputState">Time zone:</label>

                      <select class="form-control"></select>
                </div>
              </div>


              <div class="row">
                <div class="form-group col-md-5">
                  <label for="inputState">Date and Hour for Meshilum:</label>
                     <input id="input" width="312" placeholder="Fecha">

                </div>

            </div>

              </form>

    <script>
        $('#input').datetimepicker({ footer: true, modal: true });
    </script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
    $('select').timezones();
  </script>
        </main>
      </div>
    </div>
    <!-- Icons -->
      <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
      <script>
        feather.replace()
      </script>
  </body>
</html>
