<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/jquery-slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>

    <!-- consola jquery.terminal-->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <link href="{% static 'css/consola/jquery.terminal-2.2.0.min.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{% static 'js/consola/jquery.terminal-2.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/consola/consola.js' %}"></script>

    <title>Consola RaspXbee</title>
  </head>

  <body>
    {% include "navigationbar.html" %}
    <br>
    <br>
    <br>
    <div id="terminal">
    </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
       <div class="row">
         <div class="col-6 col-md text-center">
           <h5>Documentacion</h5>
           <ul class="list-unstyled text-small">
             <li><a class="text-muted" href="#">Diagramas</a></li>
             <li><a class="text-muted" href="#">Procesos</a></li>
             <li><a class="text-muted" href="#">Documentos</a></li>
           </ul>
         </div>
         <div class="col-6 col-md text-center">
           <h5>Fuentes</h5>
           <ul class="list-unstyled text-small">
             <li><a class="text-muted" href="#">GitHub</a></li>
             <li><a class="text-muted" href="#">Research Gate</a></li>
             <li><a class="text-muted" href="#">linkdn</a></li>
           </ul>
         </div>
       </div>
       <div class="col-12 col-md text-center">
         <small class="d-block mb-3 text-muted">&copy; Sebastian Urrea & Johan Sanchez</small>
       </div>
     </footer>
  </body>
</html>
