{% load static %}

<footer class="pt-4 my-md-5 pt-md-5 border-top page-footer">
   <div class="row">
     <div class="col-6 col-md text-center">
       <h5>Documentacion</h5>
       <ul class="list-unstyled text-small">
         <li><a class="text-muted" href="#">Diagramas</a></li>
         <li><a class="text-muted" href="#">Procesos</a></li>
         <li><a class="text-muted" href="#">Documentos</a></li>
       </ul>
     </div>
     <div class="col-6 col-md text-center">
       <h5>Fuentes</h5>
       <ul class="list-unstyled text-small">
         <li><a class="text-muted" href="#">GitHub</a></li>
         <li><a class="text-muted" href="#">Research Gate</a></li>
         <li><a class="text-muted" href="#">linkdn</a></li>
       </ul>
     </div>
   </div>
   <div class="col-12 col-md text-center">
     <small class="d-block mb-3 text-muted">&copy; Sebastian Urrea & Johan Sanchez</small>
   </div>
 </footer>
